{% trans_default_domain global_theme %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top{{ navbarClass|default(false)?' '~navbarClass:'' }}">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#hoa-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ config.settings.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="hoa-navbar-collapse">
            {{ mopa_bootstrap_menu('hoa.menu_builder.lang_menu',{'available_langs':config.settings.available_lang}) }}

            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                {% for active_section in config.settings.active_sections %}
                    {% set section=attribute(config.sections, active_section) %}
                    {%  if section.is_a_section is defined and section.is_a_section|default(false) or section.is_a_section is not defined%}
                    <li>
                        <a class="page-scroll" href="#{{ active_section }}">{{ active_section|trans|capitalize }}</a>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



